@use "@angular/material" as mat;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "@angular/cdk/overlay-prebuilt.css";

@include mat.all-component-typographies();

@include mat.core();

body {
  @apply bg-slate-300 #{!important};
}

body, .mat-mdc-row {
  @apply text-gray-600 #{!important};
}

.mat-mdc-snack-bar-container {
  &.snackbar-red {
    --mdc-snackbar-container-color: rgb(190 18 60) !important;
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
  }

  &.snackbar-green {
    --mdc-snackbar-container-color: rgb(20 184 166) !important;
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
  }

  &.snackbar-info {
    --mdc-snackbar-container-color: rgb(100 116 139) !important;
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
  }

  &.snackbar-warning {
    --mdc-snackbar-container-color: rgb(245 158 11) !important;
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
  }
}

section {
  @apply rounded-md m-16 p-16;
}

section {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.btn-teal {
  @apply text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80;
}



