@if (data.type === alert.Error) {
<div class="flex items-center text-white">
  <mat-icon class="mr-2">report</mat-icon>
  <span>{{ data.message }}</span>
</div>
} @if (data.type === alert.Warning) {
<div class="flex items-center text-white">
  <mat-icon class="mr-2">warning</mat-icon>
  <span>{{ data.message }}</span>
</div>
} @if (data.type === alert.Success) {
<div class="flex items-center text-white">
  <mat-icon class="mr-2">check_circle</mat-icon>
  <span>{{ data.message }}</span>
</div>
} @if (data.type === alert.Info) {
<div class="flex items-center text-white">
  <mat-icon class="mr-2">info</mat-icon>
  <span>{{ data.message }}</span>
</div>
}