<div *ngIf="data.type === alert.Error" class="flex items-center text-white">
  <mat-icon class="mr-2">report</mat-icon>
  <span>{{data.message}}</span>
</div>

<div *ngIf="data.type === alert.Warning" class="flex items-center text-white">
  <mat-icon class="mr-2">warning</mat-icon>
  <span>{{data.message}}</span>
</div>

<div *ngIf="data.type === alert.Success " class="flex items-center text-white">
  <mat-icon class="mr-2">check_circle</mat-icon>
  <span>{{data.message}}</span>
</div>

<div *ngIf="data.type === alert.Info" class="flex items-center text-white">
  <mat-icon class="mr-2">info</mat-icon>
  <span>{{data.message}}</span>
</div>
